In [125]:
import pandas as pd
import numpy as np

In [126]:
estruturas_curriculares = pd.read_csv('dados_brutos/estruturas-curriculares.csv', sep=';')
curriculo_componente_graduacao = pd.read_csv('dados_brutos/curriculo-componente-graduacao.csv', sep=';')
componentes_curriculares_presenciais = pd.read_csv('dados_brutos/componentes-curriculares-presenciais.csv', sep=';')

In [127]:
informacoes_estruturas_curriculares = [
    'id_curriculo', 'nome_matriz', 'nome_curso','semestre_conclusao_minimo', 'semestre_conclusao_ideal',
    'semestre_conclusao_maximo', 'ch_total_minima', 'ch_nao_atividade_obrigatoria', 'ch_optativas_minima','ch_complementar_minima',
    'max_eletivos','ch_minima_semestre','ch_maxima_semestre'
]

In [128]:
cursos_ti = estruturas_curriculares[estruturas_curriculares['nome_curso'] == 'TECNOLOGIA DA INFORMAÇÃO'][informacoes_estruturas_curriculares]
cursos_ti

,id_curriculo,nome_matriz,nome_curso,semestre_conclusao_minimo,semestre_conclusao_ideal,semestre_conclusao_maximo,ch_total_minima,ch_nao_atividade_obrigatoria,ch_optativas_minima,ch_complementar_minima,max_eletivos,ch_minima_semestre,ch_maxima_semestre
46,133797961,TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...,TECNOLOGIA DA INFORMAÇÃO,9.0,9.0,13.0,2600,1260,1200,140.0,600,30.0,420.0
140,133795010,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,1260,1200,140.0,600,30.0,480.0
141,134044403,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2100,360,140.0,600,30.0,480.0
162,133804382,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2160,300,140.0,600,30.0,480.0

In [129]:
cursos_ti.iloc[:, 2] = "BACHARELADO EM TECNOLOGIA DA INFORMAÇÃO"
cursos_ti.iloc[0, 1] = "NOTURNO"
cursos_ti.iloc[1, 1] = "DIURNO"
cursos_ti.iloc[2, 1] = "DESENVOLVIMENTO DE SOFTWARE"
cursos_ti.iloc[3, 1] = "COMPUTAÇÃO"
cursos_ti.columns = ['id_curriculo','nome_matriz','nome_curso','semestre_conclusao_minimo','semestre_conclusao_ideal','semestre_conclusao_maximo','ch_total_minima',
                     'ch_obrigatoria', 'ch_optativa_minima', 'ch_complementar_minima','ch_eletiva_maxima','ch_semestre_minima','ch_semestre_maxima']

In [130]:
cursos_ti.to_csv('dados_extraidos/cursos_ti.csv')

In [186]:
cursos_pes = pd.DataFrame(columns=['id', 'nome', 'ch_total_minima', 'ch_obrigatoria', 'ch_optativa_minima'])
cursos_pes.loc[len(cursos_pes)] = [0,'INTERNET DAS COISAS', 300, 180, 120]
cursos_pes.loc[len(cursos_pes)] = [1,'SISTEMAS DE INFORMAÇÕES GERENCIAIS', 360, 180, 180]
cursos_pes.loc[len(cursos_pes)] = [2,'INFORMÁTICA EDUCACIONAL', 360, 120, 240]
cursos_pes.loc[len(cursos_pes)] = [3,'BIOINFORMÁTICA', 420, 420, 0]
cursos_pes.loc[len(cursos_pes)] = [4,'JOGOS DIGITAIS', 360, 120, 240]
cursos_pes.loc[len(cursos_pes)] = [5,'CIÊNCIAS DE DADOS', 360, 180, 180]
cursos_pes.loc[len(cursos_pes)] = [6,'INTELIGÊNCIA ARTIFICIAL', 360, 240, 120]
cursos_pes.loc[len(cursos_pes)] = [7,'INOVAÇÃO E EMPREENDEDORISMO', 300, 150, 150]

In [187]:
cursos_pes.to_csv("dados_extraidos/cursos_pes.csv")

In [133]:
curriculo_componente_ti = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo.isin(cursos_ti.id_curriculo)]

In [134]:
curriculo_componente_ti_noturno = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133797961]

curriculo_componente_ti_noturno_obrigatorias = curriculo_componente_ti_noturno[curriculo_componente_ti_noturno.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_noturno_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_noturno_obrigatorias.to_csv('dados_extraidos/curriculo_componente_ti_noturno_obrigatorias.csv')

curriculo_componente_ti_noturno_optativas = curriculo_componente_ti_noturno[curriculo_componente_ti_noturno.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_noturno_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_noturno_optativas.to_csv('dados_extraidos/curriculo_componente_ti_noturno_optativas.csv')

/home/johnvithor/PDS/PODE/venv/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [135]:
curriculo_componente_ti_diurno = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133795010]

curriculo_componente_ti_diurno_obrigatorias = curriculo_componente_ti_diurno[curriculo_componente_ti_diurno.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_diurno_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_diurno_obrigatorias.to_csv('dados_extraidos/curriculo_componente_ti_diurno_obrigatorias.csv')

curriculo_componente_ti_diurno_optativas = curriculo_componente_ti_diurno[curriculo_componente_ti_diurno.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_diurno_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_diurno_optativas.to_csv('dados_extraidos/curriculo_componente_ti_diurno_optativas.csv')

In [136]:
curriculo_componente_ti_dev_soft = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 134044403]

curriculo_componente_ti_dev_soft_obrigatorias = curriculo_componente_ti_dev_soft[curriculo_componente_ti_dev_soft.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_dev_soft_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_dev_soft_obrigatorias.to_csv('dados_extraidos/curriculo_componente_ti_dev_soft_obrigatorias.csv')

curriculo_componente_ti_dev_soft_optativas = curriculo_componente_ti_dev_soft[curriculo_componente_ti_dev_soft.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_dev_soft_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_dev_soft_optativas.to_csv('dados_extraidos/curriculo_componente_ti_dev_soft_optativas.csv')

In [137]:
curriculo_componente_ti_comput = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133804382]

curriculo_componente_ti_comput_obrigatorias = curriculo_componente_ti_comput[curriculo_componente_ti_comput.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_comput_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_comput_obrigatorias.to_csv('dados_extraidos/curriculo_componente_ti_comput_obrigatorias.csv')

curriculo_componente_ti_comput_optativas = curriculo_componente_ti_comput[curriculo_componente_ti_comput.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_comput_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_comput_optativas.to_csv('dados_extraidos/curriculo_componente_ti_comput_optativas.csv')

In [138]:
codigos_disciplinas_iot = [
'IMD1151',
'IMD0902',
'IMD0904',
'IMD0907',
'IMD0903',
'IMD0911',
'IMD0912',
'IMD0910',
'IMD0908',
'IMD1101',
'IMD0290',
'IMD0291',
'IMD0292',
'IMD0293',
'IMD0294',
'IMD0295'
]
codigos_disciplinas_sig = [
'IMD0409',
'IMD0405',
'IMD0415',
'IMD0411',
'IMD0419',
'IMD0509',
'IMD0503',
'IMD0407',
'IMD0421',
'IMD0417',
'IMD0425',
'IMD0412',
'IMD0408',
'IMD0403',
'IMD0410',
'IMD0406',
'IMD0416',
'IMD0424',
'IMD0414',
'IMD0422',
'IMD0240',
'IMD0241',
'IMD0242',
'IMD0243',
'IMD0244',
'IMD0245'
]
codigos_disciplinas_ie = [
'IMD0523',
'IMD0531',
'IMD0522',
'IMD0502',
'IMD0524',
'IMD0501',
'IMD0506',
'IMD0511',
'IMD0530',
'IMD0525',
'IMD0526',
'IMD0250',
'IMD0251',
'IMD0252',
'IMD0253',
'IMD0254',
'IMD0255',
'ITE0001',
'ITE0002',
'ITE0004'
]
codigos_disciplinas_bio = [
'ICE1024',
'DBG0047',
'DBG0048',
'IMD0605',
'DBQ0048',
'IMD0606',
'IMD0602',
'IMD0607',
'DBQ0044',
'IMD0603',
'DBQ0050',
'IMD0601',
'IMD0260',
'IMD0261',
'IMD0262',
'IMD0263',
'IMD0264',
'IMD0265'
]
codigos_disciplinas_jogos = [
'IMD0801',
'IMD0811',
'DAT0262',
'IMD0802',
'IMD0521',
'IMD0821',
'IMD0812',
'DIM0126',
'IMD0814',
'IMD0803',
'IMD0522',
'DGN0927',
'IMD0813',
'IMD0280',
'IMD0281',
'IMD0282',
'IMD0283',
'IMD0284',
'IMD0285'
]
codigos_disciplinas_cd = [
'IMD1112',
'IMD1113',
'IMD1151',
'IMD1152',
'IMD1153',
'IMD1154',
'IMD1101',
'IMD1155',
'IMD1130',
'IMD1116',
'IMD1120',
'IMD1121',
'IMD1122',
'IMD1123',
'IMD1124',
'IMD1125'
]
codigos_disciplinas_ia = [
'IMD1112',
'IMD1113',
'IMD1101',
'IMD1114',
'IMD1103',
'IMD1107',
'IMD1108',
'IMD1115',
'IMD1116',
'IMD1117',
'IMD1102',
'IMD1105',
'IMD0607',
'DIM0126',
'IMD0814',
'IMD0511',
'IMD1120',
'IMD1121',
'IMD1122',
'IMD1123',
'IMD1124',
'IMD1125'
]
codigos_disciplinas_inov = [
'IMD1301',
'IMD1302',
'IMD1303',
'IMD1304',
'IMD1305',
'IMD1306',
'ECT2610',
'IMD1307',
'IMD1308',
'IMD1151',
'ECT2611',
'ECT2612',
'IMD1309',
'ECT1564',
'IMD1310',
'IMD1311',
'IMD1312',
'IMD1313',
'IMD1314',
'IMD1315'
]

In [139]:
informacoes_componentes_curriculares_presenciais = [
    'id_componente', 'codigo', 'nome','ch_teorico', 'ch_pratico', 'ch_total',
    'equivalencia', 'pre_requisito','co_requisito'
]
disciplinas_ti = componentes_curriculares_presenciais[informacoes_componentes_curriculares_presenciais]

In [140]:
disciplinas_iot = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_iot)]
disciplinas_iot = disciplinas_iot[disciplinas_iot.id_componente > 69000]
if len(disciplinas_iot) != len(codigos_disciplinas_iot):
    display(disciplinas_iot)
else:
    print('ok')

ok

In [158]:
iot_id_componente = disciplinas_iot.id_componente
curriculo_componente_pes_iot = pd.DataFrame(data=np.array([[0]*len(iot_id_componente), list(iot_id_componente.values),['OPTATIVA']*len(iot_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_iot.loc[curriculo_componente_pes_iot.id_componente_curricular.isin(disciplinas_iot[disciplinas_iot.codigo.isin(['IMD1151','IMD0902','IMD0904'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_iot

   id_pes id_componente_curricular         tipo
0       0                    69585     OPTATIVA
1       0                    69586  OBRIGATÓRIA
2       0                    69587  OBRIGATÓRIA
3       0                    69588     OPTATIVA
4       0                    69589     OPTATIVA
5       0                    69590     OPTATIVA
6       0                    69591     OPTATIVA
7       0                    69592     OPTATIVA
8       0                    69593     OPTATIVA
9       0                    69594     OPTATIVA
10      0                    69595     OPTATIVA
11      0                    69596     OPTATIVA
12      0                    69597     OPTATIVA
13      0                    69598     OPTATIVA
14      0                    69612     OPTATIVA
15      0                    72707  OBRIGATÓRIA

In [159]:
disciplinas_sig = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_sig)]
disciplinas_sig = disciplinas_sig[disciplinas_sig.id_componente < 71097]
if len(disciplinas_sig) != len(codigos_disciplinas_sig):
    display(disciplinas_sig)
else:
    print('ok')

ok

In [161]:
sig_id_componente = disciplinas_sig.id_componente
curriculo_componente_pes_sig = pd.DataFrame(data=np.array([[1]*len(sig_id_componente), list(sig_id_componente.values),['OPTATIVA']*len(sig_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_sig.loc[curriculo_componente_pes_sig.id_componente_curricular.isin(disciplinas_sig[disciplinas_sig.codigo.isin(['IMD0409','IMD0405','IMD0415'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_sig

   id_pes id_componente_curricular         tipo
0       1                    52681     OPTATIVA
1       1                    52682     OPTATIVA
2       1                    52683     OPTATIVA
3       1                    52684     OPTATIVA
4       1                    52685  OBRIGATÓRIA
5       1                    52686  OBRIGATÓRIA
6       1                    52687     OPTATIVA
7       1                    52688     OPTATIVA
8       1                    52691     OPTATIVA
9       1                    52788     OPTATIVA
10      1                    52791  OBRIGATÓRIA
11      1                    52792     OPTATIVA
12      1                    52794     OPTATIVA
13      1                    52795     OPTATIVA
14      1                    52796     OPTATIVA
15      1                    55052     OPTATIVA
16      1                    55054     OPTATIVA
17      1                    55074     OPTATIVA
18      1                    61095     OPTATIVA
19      1                    61096     OPTATIVA
20      1                    61097     OPTATIVA
21      1                    61098     OPTATIVA
22      1                    61099     OPTATIVA
23      1                    61100     OPTATIVA
24      1                    66439     OPTATIVA
25      1                    66443     OPTATIVA

In [162]:
disciplinas_ie = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_ie)]
disciplinas_ie = disciplinas_ie[disciplinas_ie.id_componente < 71135]
if len(disciplinas_ie) != len(codigos_disciplinas_ie):
    display(disciplinas_ie)
else:
    print('ok')

ok

In [163]:
ie_id_componente = disciplinas_ie.id_componente
curriculo_componente_pes_ie = pd.DataFrame(data=np.array([[2]*len(ie_id_componente), list(ie_id_componente.values),['OPTATIVA']*len(ie_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_ie.loc[curriculo_componente_pes_ie.id_componente_curricular.isin(disciplinas_ie[disciplinas_ie.codigo.isin(['IMD0523','IMD0531'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_ie

   id_pes id_componente_curricular         tipo
0       2                    52689     OPTATIVA
1       2                    52690     OPTATIVA
2       2                    52694     OPTATIVA
3       2                    52698     OPTATIVA
4       2                    55060     OPTATIVA
5       2                    55084  OBRIGATÓRIA
6       2                    55085     OPTATIVA
7       2                    61083     OPTATIVA
8       2                    61084     OPTATIVA
9       2                    61085     OPTATIVA
10      2                    61086     OPTATIVA
11      2                    61087     OPTATIVA
12      2                    61093     OPTATIVA
13      2                    63824     OPTATIVA
14      2                    63825     OPTATIVA
15      2                    63838     OPTATIVA
16      2                    68479     OPTATIVA
17      2                    68482  OBRIGATÓRIA
18      2                    69599     OPTATIVA
19      2                    69600     OPTATIVA

In [164]:
disciplinas_bio = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_bio)]
disciplinas_bio = disciplinas_bio[disciplinas_bio.id_componente < 71233]
if len(disciplinas_bio) != len(codigos_disciplinas_bio):
    display(disciplinas_bio)
else:
    print('ok')

ok

In [165]:
bio_id_componente = disciplinas_bio.id_componente
curriculo_componente_pes_bio = pd.DataFrame(data=np.array([[3]*len(bio_id_componente), list(bio_id_componente.values),['OPTATIVA']*len(bio_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_bio.loc[curriculo_componente_pes_bio.id_componente_curricular.isin(disciplinas_bio[disciplinas_bio.codigo.isin(['ICE1024','DBG0047','DBG0048','IMD0605','DBQ0048','IMD0606'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_bio

   id_pes id_componente_curricular         tipo
0       3                    51457  OBRIGATÓRIA
1       3                    55061     OPTATIVA
2       3                    55062     OPTATIVA
3       3                    55939  OBRIGATÓRIA
4       3                    55940  OBRIGATÓRIA
5       3                    59413     OPTATIVA
6       3                    61109     OPTATIVA
7       3                    61110     OPTATIVA
8       3                    61111     OPTATIVA
9       3                    61112     OPTATIVA
10      3                    61113     OPTATIVA
11      3                    61114     OPTATIVA
12      3                    62382  OBRIGATÓRIA
13      3                    63936     OPTATIVA
14      3                    66482  OBRIGATÓRIA
15      3                    66665  OBRIGATÓRIA
16      3                    68447     OPTATIVA
17      3                    69601     OPTATIVA

In [166]:
disciplinas_jogos = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_jogos)]
disciplinas_jogos = disciplinas_jogos[disciplinas_jogos.id_componente < 71770]
if len(disciplinas_jogos) != len(codigos_disciplinas_jogos):
    display(disciplinas_jogos)
else:
    print('ok')

ok

In [167]:
jogos_id_componente = disciplinas_jogos.id_componente
curriculo_componente_pes_jogos = pd.DataFrame(data=np.array([[4]*len(jogos_id_componente), list(jogos_id_componente.values),['OPTATIVA']*len(jogos_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_jogos.loc[curriculo_componente_pes_jogos.id_componente_curricular.isin(disciplinas_jogos[disciplinas_jogos.codigo.isin(['IMD0801','IMD0811'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_jogos

   id_pes id_componente_curricular         tipo
0       4                    55059     OPTATIVA
1       4                    55060     OPTATIVA
2       4                    64878     OPTATIVA
3       4                    65102  OBRIGATÓRIA
4       4                    66426     OPTATIVA
5       4                    66481  OBRIGATÓRIA
6       4                    68133     OPTATIVA
7       4                    68478     OPTATIVA
8       4                    68510     OPTATIVA
9       4                    69602     OPTATIVA
10      4                    69603     OPTATIVA
11      4                    69604     OPTATIVA
12      4                    69605     OPTATIVA
13      4                    69606     OPTATIVA
14      4                    69607     OPTATIVA
15      4                    69608     OPTATIVA
16      4                    69609     OPTATIVA
17      4                    69610     OPTATIVA
18      4                    69611     OPTATIVA

In [168]:
disciplinas_cd = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_cd)]
if len(disciplinas_cd) != len(codigos_disciplinas_cd):
    display(disciplinas_cd)
    print(len(disciplinas_cd), len(codigos_disciplinas_cd))
else:
    print('ok')

ok

In [169]:
cd_id_componente = disciplinas_cd.id_componente
curriculo_componente_pes_cd = pd.DataFrame(data=np.array([[5]*len(cd_id_componente), list(cd_id_componente.values),['OPTATIVA']*len(cd_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_cd.loc[curriculo_componente_pes_cd.id_componente_curricular.isin(disciplinas_cd[disciplinas_cd.codigo.isin(['IMD1112','IMD1113','IMD1151'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_cd

   id_pes id_componente_curricular         tipo
0       5                    69612     OPTATIVA
1       5                    69619     OPTATIVA
2       5                    69620     OPTATIVA
3       5                    69621     OPTATIVA
4       5                    69622     OPTATIVA
5       5                    69623     OPTATIVA
6       5                    69624     OPTATIVA
7       5                    70926     OPTATIVA
8       5                    72707  OBRIGATÓRIA
9       5                    72708     OPTATIVA
10      5                    72709     OPTATIVA
11      5                    72710     OPTATIVA
12      5                    72711  OBRIGATÓRIA
13      5                    72712  OBRIGATÓRIA
14      5                    72715     OPTATIVA
15      5                    72717     OPTATIVA

In [170]:
disciplinas_ia = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_ia)]
# disciplinas_jogos = disciplinas_jogos[disciplinas_jogos.id_componente < 71770]
if len(disciplinas_ia) != len(codigos_disciplinas_ia):
    display(disciplinas_ia)
    print(len(disciplinas_ia), len(codigos_disciplinas_ia))
else:
    print('ok')

ok

In [171]:
ia_id_componente = disciplinas_ia.id_componente
curriculo_componente_pes_ia = pd.DataFrame(data=np.array([[6]*len(ia_id_componente), list(ia_id_componente.values),['OPTATIVA']*len(ia_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_ia.loc[curriculo_componente_pes_ia.id_componente_curricular.isin(disciplinas_ia[disciplinas_ia.codigo.isin(['IMD1112','IMD1113','IMD1101','IMD1114'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_ia

   id_pes id_componente_curricular         tipo
0       6                    52698     OPTATIVA
1       6                    68133     OPTATIVA
2       6                    69601     OPTATIVA
3       6                    69604     OPTATIVA
4       6                    69612  OBRIGATÓRIA
5       6                    69613     OPTATIVA
6       6                    69614     OPTATIVA
7       6                    69616     OPTATIVA
8       6                    69618     OPTATIVA
9       6                    69619     OPTATIVA
10      6                    69620     OPTATIVA
11      6                    69621     OPTATIVA
12      6                    69622     OPTATIVA
13      6                    69623     OPTATIVA
14      6                    69624     OPTATIVA
15      6                    70885     OPTATIVA
16      6                    72711  OBRIGATÓRIA
17      6                    72712  OBRIGATÓRIA
18      6                    72713  OBRIGATÓRIA
19      6                    72714     OPTATIVA
20      6                    72715     OPTATIVA
21      6                    72716     OPTATIVA

In [172]:
disciplinas_inov = disciplinas_ti[disciplinas_ti.codigo.isin(codigos_disciplinas_inov)]
# disciplinas_jogos = disciplinas_jogos[disciplinas_jogos.id_componente < 71770]
if len(disciplinas_inov) != len(codigos_disciplinas_inov):
    display(disciplinas_inov)
    print(len(disciplinas_inov), len(codigos_disciplinas_inov))
else:
    print('ok')

ok

In [173]:
inov_id_componente = disciplinas_inov.id_componente
curriculo_componente_pes_inov = pd.DataFrame(data=np.array([[7]*len(inov_id_componente), list(inov_id_componente.values),['OPTATIVA']*len(inov_id_componente)]).T,
                                            columns=['id_pes','id_componente_curricular', 'tipo'])
curriculo_componente_pes_inov.loc[curriculo_componente_pes_inov.id_componente_curricular.isin(disciplinas_inov[disciplinas_inov.codigo.isin(['IMD1301','IMD1302','IMD1303'])].id_componente.astype(str).values), 'tipo'] = 'OBRIGATÓRIA'
curriculo_componente_pes_inov

   id_pes id_componente_curricular         tipo
0       7                    47074     OPTATIVA
1       7                    72707     OPTATIVA
2       7                    72718  OBRIGATÓRIA
3       7                    72719  OBRIGATÓRIA
4       7                    72720     OPTATIVA
5       7                    72721     OPTATIVA
6       7                    72722  OBRIGATÓRIA
7       7                    72723     OPTATIVA
8       7                    72724     OPTATIVA
9       7                    72725     OPTATIVA
10      7                    72726     OPTATIVA
11      7                    72727     OPTATIVA
12      7                    72728     OPTATIVA
13      7                    72729     OPTATIVA
14      7                    72730     OPTATIVA
15      7                    72731     OPTATIVA
16      7                    72732     OPTATIVA
17      7                    73512     OPTATIVA
18      7                    73513     OPTATIVA
19      7                    73514     OPTATIVA

In [179]:
curriculo_componente_pes = pd.concat([curriculo_componente_pes_iot,curriculo_componente_pes_sig,curriculo_componente_pes_ie,curriculo_componente_pes_bio,curriculo_componente_pes_jogos,curriculo_componente_pes_cd,curriculo_componente_pes_ia,curriculo_componente_pes_inov])
curriculo_componente_pes = curriculo_componente_pes.reset_index(drop=True)
curriculo_componente_pes['id_pes_componente'] = list(range(len(curriculo_componente_pes)))
curriculo_componente_pes = curriculo_componente_pes.loc[:, ['id_pes_componente', 'id_pes', 'id_componente_curricular', 'tipo']]
curriculo_componente_pes

     id_pes_componente id_pes id_componente_curricular         tipo
0                    0      0                    69585     OPTATIVA
1                    1      0                    69586  OBRIGATÓRIA
2                    2      0                    69587  OBRIGATÓRIA
3                    3      0                    69588     OPTATIVA
4                    4      0                    69589     OPTATIVA
..                 ...    ...                      ...          ...
152                152      7                    72731     OPTATIVA
153                153      7                    72732     OPTATIVA
154                154      7                    73512     OPTATIVA
155                155      7                    73513     OPTATIVA
156                156      7                    73514     OPTATIVA

[157 rows x 4 columns]

In [181]:
curriculo_componente_pes.to_csv('dados_extraidos/curriculo_componente_pes.csv')

In [184]:
id_componente_curriculares = list(curriculo_componente_ti.id_componente_curricular.values)
id_componente_curriculares.extend(list(curriculo_componente_pes.id_componente_curricular.values))

In [185]:
disciplinas_ti = disciplinas_ti[disciplinas_ti.id_componente.isin(id_componente_curriculares)]
disciplinas_ti.to_csv('dados_extraidos/disciplinas_ti.csv')